.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 6px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot-1 {
  animation: bounce 0.35s infinite alternate;
}

.dot-2 {
  animation: bounce 0.35s infinite alternate;
  animation-delay: 0.2s;
}

.dot-3 {
  animation: bounce 0.35s infinite alternate;
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-20px);
  }
}
