$chat-light: #1251af;
$chat-dark: #435268;

.chat-user-light {
  background-color: rgba($color: $chat-light, $alpha: 0.95);
}

.chat-bot-light {
  background-color: rgba($color: $chat-light, $alpha: 0.8);
}

.chat-user-dark {
  background-color: rgba($color: $chat-dark, $alpha: 1);
}

.chat-bot-dark {
  background-color: rgba($color: $chat-dark, $alpha: 0.75);
}
