//custom style

@import "./variables";
@import "./dark-variables";

//import BS
@import "../../node_modules/bootstrap/scss/bootstrap";

//import other styles
@import "./timer";
@import "./chat-card";

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;

  .add-pointer-cursor {
    cursor: pointer;
  }
}
