.loader {
  position: relative;
  width: 64px;
  height: 64px;
  animation: loader-rotation 1.5s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loader:before {
  border: 2px solid #000;
  animation: loader-before-animation 1.5s infinite ease-in-out;
}

.loader:after {
  border: 2px solid transparent;
  border-top-color: #000;
  animation: loader-after-animation 1.5s infinite ease-in-out;
}

@keyframes loader-rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-before-animation {
  0%,
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader-after-animation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50%,
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}
